.container {
    max-width: 1107px;
}

body {
    font-family: 'Heebo';
    color: #3E3F42;
    font-size: 16px;
}

.scoreSightHeader {
    
    color: #1665D8;

}

.medFontWeight {
   
    font-weight: 500;

}

.regFontWeight {
    font-weight: 400;
}

.boldFontWeight {
    font-weight: 700;
}

.mutedText {
    opacity: 50%;
}

.fullHR:not([size]) {
    height: 3px;
}

.greenLine {
    position: relative;
    top: -30px;
}

.howToUse {
    background-color: #F9FAFB;
    max-width: 540px;
}

.darkBlue {
color: #07025B;
}

.btn-primary {
    background-color: #27D381;
    font-size: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: none;
}

.point {
    background-color: #F1C531;
    border: 5px solid white;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    position: relative;
    top: -48px;
    left: 63%;
    box-shadow: 0px 0px 20px -8px #000000;
}

.bg-danger {
    background-color: #F53758 !important;
}
.bg-warning {
    background-color: #F1C531 !important;
}
.bg-primary {
    background-color: #27D381 !important;
}

.scoreLineNumbers {
    color: #6B6C6F;
    font-size: 14px;
    padding-top: 5px;
}

.bigNumber {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 55px;
}

.equifaxAligned {
    position: relative;
    top: 8px;
}

.experianAligned {
    position: relative;
    top: 5px;
}